body { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
nav { background-color: #e46944; padding: 10px; }
table { width: 100%; border-collapse: collapse; }
th, td { padding: 8px; border: 1px solid #ddd; }